

 #username {
	border-width: 1px;
	border-radius:5px; 
	border-style: solid; 
	border-color: #cccccc;
	}

edittext{
	border-color: #cccccc; 
	border-style:solid; 
	border-width:1px; 
	border-radius:5px; 

}
item {
	color:#FFFFFF;
}
button{
	background-color:#368131;
	border: solid 5px #000000;
	color:#FFFFFF; 
	font-size: 20px;
	border-radius: 5px;
	font-weight: normal;

}
#about_container{
	background-color:#FFFFFF;
	opacity: 0.8;
	font-size: 16px;
	line-height:110%;
}

radiobutton{
	background-color:transparent; 
	color:#000000;
	font-size: 12px;
}

/*
*{
	style-guide-visible:true;
}
*/

#patientdetails {
	background-color:#e5edf0;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}
#view_patient_name{
	font-size: 20px;
	font-weight: bold;
}

#charts_bar{
	font-size: 20px;
	color:#FFFFFF;
	font-weight: bold;
}



#textView9, #textView11, #textView10 {
	background-color:#e5edf0;
	font-weight: bold;
	font-size: 15px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#examvisitinfo {
	background-color:#e5edf0;
}

#textView12,#textView13,#textView14,#textView15 {
	font-weight: bold;
	font-size: 15px;
}
edittext#view_patient_name{
	font-size: 16px;
	font-weight: normal;
}
#patient_name{
	font-weight: bold;
	font-size: 16px
}
#logincontainer{
	background-color: #FFFFFF;
	opacity: 0.7;

}	
