

#list_item_checkbox {
	background: transparent;
	border: none;
	border-radius: 0px;
}
 #username {
	border-width: 1px;
	border-radius:5px; 
	border-style: solid; 
	border-color: #cccccc;
	}

edittext{
	border-color: #cccccc; 
	border-style:solid; 
	border-width:1px; 
	border-radius:5px; 

}
item {
	color:#FFFFFF;
}

button{
	background-color:#368131;
	border: solid 5px #000000;
	color:#FFFFFF; 
	font-size: 20px;
	border-radius: 5px;
	font-weight: normal;

}
#viewfamilyinfor{
	font-size: 10px;
	background-color:#368131;
	border: solid 5px #000000;
	color:#FFFFFF; 
	border-radius: 5px;
	font-weight: normal;
}

#about_container{
	background-color:#FFFFFF;
	opacity: 0.8;
	font-size: 16px;
	line-height:110%;
}

radiobutton{
	background-color:transparent; 
	color:#000000;
	font-size: 20px;
}

/*
*{
	style-guide-visible:true;
}
*/

#patientdetails, #familydetails {
	background-color:#e5edf0;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}
#view_patient_name, #view_family_name {
	font-size: 20px;
	font-weight: bold;
}

#charts_bar, #visit_info_bar{
	font-size: 20px;
	color:#FFFFFF;
	font-weight: bold;
}



#textView9, #textView11, #textView10 {
	background-color:#e5edf0;
	font-weight: bold;
	font-size: 15px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#examvisitinfo, #examvisitinfo_family {
	background-color:#e5edf0;
}

#textView12,#textView13,#textView14,#textView15,#examinfotitle, #examinfotitle_table_family {
	font-weight: bold;
	font-size: 15px;
}
edittext#view_patient_name{
	font-size: 16px;
	font-weight: normal;
}
#patient_name{
	font-weight: bold;
	font-size: 16px
}
#logincontainer{
	background-color: #FFFFFF;
	opacity: 0.7;
}	
#clickfordetails_text {
	color: #004d6b;
	font-weight: bold;
}
